@model MalMaalayak.Models.ClientDetailClassModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<body>
    <main role="main" class="probootstrap-main js-probootstrap-main col-lg-pull-1">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.0846767293638!2d80.01066527275808!3d9.673806135803192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe5406e60f231b%3A0xe56034e4fe764ad7!2sSornam+Mill!5e0!3m2!1sen!2slk!4v1526367010647" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <div class="span4">
                    <h2>Manamaalai</h2>
                    <address>
                        <strong>Matrimony Service</strong><br>
                        147 Navalar road<br>
                        Vannarpannai<br>
                        Jaffna<br>
                        Srilanka<br>
                        
                        <abbr title="Phone">Phone:</abbr> 0772487801<br>
                        <abbr title="Email">Email:</abbr> manamaalaisrilanka@gmail.com
                       
                    </address>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hfCurrentPageIndex").value = index;
            document.forms[0].submit();
        }
    </script>

</body>
</html>